.codeQuote {
  display: inline-block;
  padding: 2px 4px;
  margin: 4px 0;
  color: tomato;
  background: #eeeeee;
}

.codeBlock {
  padding: 0 8px 16px;
  margin: 12px 24px;
  font-family: monospace;
  font-size: 14px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.relatedList {
  a {
    width: 100%;
    padding: 8px;
    color: #222222;
    text-decoration: none;
  }
}
